@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bitcount+Grid+Double:wght@100..900&family=Bungee&family=Miranda+Sans:ital,wght@0,400..700;1,400..700&display=swap');

body {
  background-color: orange;
}
#hubantu {
  width: 100%;
  height: auto%;
  text-align: center;
 
}
.moje-menu {
            display: flex;           
            align-items: center;     
            gap: 8vw;                
            padding: 2vw 4vw;
            text-align: center;
            justify-content: center;
          
        }
 .moje-menu a {
            text-decoration: none;
            color: #000000;
            font-weight: bold;
            font-size: 30px;
        }

 .moje-menu a:hover {
            color: rgb(255, 255, 255); 
        }
  .moje-menu a:focus {
    color: white;
  }
        
        .sekcja-odstep {
            height: 800px;
            padding: 20px;
        }
.moje-menu img {
        max-width: 15%;
         height: auto;}
#Platforms:hover {
  color: green;
}

#Platforms:focus {
   color: green;
}


#Beats:hover {
  color: blue;
}
 #Beats:focus {
  color: blue;
 }

 #About:focus {
  color: rgb(255, 0, 0);
 }
#About:hover {
  color: rgb(255, 0, 0);
}
#Shop:hover {
  color: rgb(242, 255, 0);
}

 #Shop:focus {
  color: rgb(242, 255, 0);
 }

 #Paintings:hover {
  color: rgb(157, 255, 0);
 }

 #Drawings:hover {
  color: rgb(255, 0, 242);
 }
  #Architecture:hover {
  color: rgb(255, 0, 0);
 }
 #Tutorials:hover {
  color: rgb(0, 255, 64);
 }

 #Purchase:hover {
  color: deeppink;
 }


.moje-menu a {
  font-family: 'Bitcount Grid Double', sans-serif ;
}

h1 {
   font-family: 'Bungee', sans-serif ;
   font-size: 7vw;
   text-align: center;
  
}

#About-us {
  font-family: 'Bitcount Grid Double', sans-serif ;
  color: rgb(40, 40, 40);
  text-align: center;
  font-weight: 500;
  max-width: 1500px;
  font-size: 20px;
}
.about {
              
            gap: 40px;             
            padding: 10px 20px;
            margin-right: auto;
              justify-content: center;
              margin: 0 auto;
              max-width: 1000px;
              margin-top: 10px;
  margin-bottom: -70px;
  
  padding: 10px 20px;


}


   body::after {
  content: ""; 
  position: fixed; 
  top: 0; 
  bottom: 0; 
  width: 200px;
  background: url(fish.png);
  background-size: cover;

  background-position:center;
  z-index: -1; 
}



body::after {
  right: 0; 
}
   body::before {
  content: ""; 
  position: fixed; 
  top: 0; 
  bottom: 0; 
  width: 300px;
  background: url(shoes.png); 

  background-size: cover;
  background-position:center;
  z-index: -1; 
}




body::before {
  left: 0; 
}




#first {
  text-align: center;
}

.pics {
  display: flex;
 justify-content: center;
  gap: 5vw; 
  flex-wrap: wrap;
  margin-top: auto;
}

.line {
  size: 20px;
  
}
h1 {
  margin-bottom: -50px; 
  margin-top: 10px;

}

.pics2 {
  text-align: center;
  position: center;
  margin-top: -50px;
}

footer {
  font-family: 'Miranda Sans', sans-serif;
  font-weight: 400;
  color: rgb(0, 0, 0);
  font-size: 10px;
  text-align: center;

}


.biala-litera {
  color: white;
}

#About-us span {
  transition: color 0.2s ease;
}
#About-us span:hover {
  color: var(--losowy-kolor);
  cursor: default;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 200px;
  text-align: left;
 
}

.dropdown-content a {
  
 
  text-decoration: none;
  display: block;
  font-size: 20px; 
}

.dropdown:hover .dropdown-content {
  display: block; 
}









@media (max-width: 800px) {
  body { width: 100%;

  }
  
  .moje-menu {
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center; 
    width: 100%;
  }

  .moje-menu a {
    font-size: 30px; 
    
  }


  .pics {
    gap: 1px;
    padding: 10px 5px;
    flex-wrap: nowrap;
    height: auto;
    flex: 0 0 2%;
    min-height: 0;
   

  }
  #hubantu {
    width: 105%;
  }
}